Options -Indexes

RewriteEngine On

# Nếu URL là gốc thì chuyển hướng đến public/
RewriteCond %{REQUEST_URI} ^/world-building/?$
RewriteRule ^$ /world-building/public/ [L,R=302]

# Rewrite từ thư mục public
RewriteBase /world-building/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
