* {
    font-family: sans-serif;
    font-size: 16px;
}

.header {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 50%;
    background-image: url('../images/header-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 3px rgba(0, 0, 0, 0.25);
}

.navigation {
    position: relative;
    z-index: 4;
    width: 100%;
    height: auto;
    background-color: #777777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.main-content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    border-bottom: solid 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.footer {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 25%;
    background-color: #777777;
}

.nav-item {
}

.nav-link {
    color: #EEEEEE;
}

.nav-link:hover {
    color: #333333;
    background-color: #DDDDDD;
}